.debug-window-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 600px; /* 将初始高度从 400px 增加到 600px */
  max-width: 90%; /* 增加最大宽度限制 */
  min-width: 300px; /* 增加最小宽度限制 */
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: width 0.3s ease, height 0.3s ease;
  z-index: 1000; /* 确保在最上层 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.debug-window-container.collapsed {
  display: none; /* 隐藏调试窗口 */
}

.resizer {
  width: 10px; /* 增大调整器宽度以便更易于拖动 */
  cursor: nwse-resize; /* 更改光标以支持水平和垂直调整 */
  background-color: #ddd;
  height: 10px; /* 增大调整器高度 */
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.resizer:hover {
  background-color: #bbb;
}

.debug-toggle-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1001;
}

.debug-hide-button {
  position: absolute;
  top: 10px;
  right: 10px;
}
